<tr id="<%= dom_id( user ) %>">
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td>
  <% if user.admin? %>
    <%= link_to 'Admin', user_toggle_admin_path( user ), remote: true, method: :put, class: "label label-warning" %>
  <% else %>
    <%= link_to 'Muggle', user_toggle_admin_path( user ), remote: true, method: :put, class: "label label-info" %>
  <% end %>
  </td>
</tr>