<%= form_for(@gift, remote: true, html: {class: "form-horizontal"}) do |f| %>
  <% if @gift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gift.errors.count, "error") %> prohibited this gift from being saved:</h2>

      <ul>
        <% @gift.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="control-group">
      <%= f.label :title, class:"control-label" %>
      <div class="controls">
        <%= f.text_field :title %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, class:"control-label" %>
      <div class="controls">
        <%= f.text_field :description %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :location, class:"control-label" %>
      <div class="controls">
        <%= f.text_field :location %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :value, class:"control-label" %>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">$</span><%= f.text_field :value %>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>
