<% action_url = current_user.admin? ? edit_gift_path(gift) : gift_path(gift) %>
<tr id="row_<%= dom_id gift %>" onclick="" class="clickable">
  <td><%= gift.title %></td>
  <td><%= gift.description %></td>
  <td><%= gift.location %></td>
  <td>$<%= gift.value %></td>
  <td>
    <% if gift.user.nil? %>
      <span class="badge badge-info"><i class="icon-ok-sign icon-white"></i> Available</span>
    <% elsif gift.user ==  current_user %>
      <span class="badge badge-success"><i class="icon-exclamation-sign icon-white"></i> Yours</span>
    <% else %>
      <span class="badge badge-important"><i class="icon-minus-sign icon-white"></i> Taken</span>
    <% end %>
  </td>
</tr>
<%= open_modal_on_click :form, "row_#{dom_id gift}", action_url %>
