<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Cxwedding</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%=  render 'layouts/navbar' %>
<% unless current_user.nil? || current_user.admin? %>
  <div class="image-banner">
    <% image_tag "banner.jpg" %>
  </div>
<% end %>
<div class="container">
  <div class="content">
    <div id="flash_messages">
      <%= render 'layouts/messages' %>
    </div>
    <%= yield %>
  </div>
</div>

<%= render partial: 'layouts/modal', locals: {modal_name: :form}  %>
<%= render partial: 'layouts/modal', locals: {modal_name: :gift}  %>
<%= render partial: 'layouts/modal', locals: {modal_name: :thumbs}  %>
<%= render partial: 'layouts/modal', locals: {modal_name: :image}  %>

</body>
</html>
