<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Cxwedding</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/gifts">CXWedding</a>

      <div class="btn-group pull-right">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <i class="icon-user"></i>
          <%= "Username" %>
          <i class="caret"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<%= yield %>


</body>
</html>
